<p *ngIf="recipeList.length > 0" [ngStyle]="{'font-size':'24px', 'font-style':'bold'}">Recipe results</p>
<table>
    <thead>
        <tr>
            <td>Recipe</td>
            <td></td>
            <td></td>
    </tr>
    </thead>
    <tr *ngFor="let recipe of recipeList; let i = index">
            <td><a [routerLink]="['/recipeDetail', recipe.id]">{{recipe.title}}</a></td>
            <td><img *ngIf="recipe.image" [src]="recipe.image"></td>
            <td *ngIf="!favoriteView"><button (click)="addRecipeToFavorites(recipe)">Add to Favorites</button></td>
            <td *ngIf="favoriteView"><button (click)="removeRecipeFromFavorites(recipe)">Remove from Favorites</button></td>
    </tr>
</table>

<p *ngIf="recipeList.length <= 0" [ngStyle]="{'font-size':'24px', 'font-style':'bold'}">No recipes found!!!</p>