<div *ngIf="recipe">
    <h2>{{recipe.title}}</h2>
    <img *ngIf="recipe.image" [src]="recipe.image"/>
    <br/>

    <p>{{recipe.servings}} servings, ready in {{recipe.readyInMinutes}} minutes</p>

    <table>
        <tr>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dairyCheck" disabled [checked]="recipe.dairyFree?'checked':null">
                    <label class="form-check-label" for="dairyCheck">
                      Dairy free
                    </label>
                  </div>
                  
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="glutenCheck" disabled [checked]="recipe.glutenFree?'checked':null">
                    <label class="form-check-label" for="glutenCheck">
                      Gluten free
                    </label>
                  </div>
                  
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="vegCheck" disabled [checked]="recipe.vegetarian?'checked':null">
                    <label class="form-check-label" for="vegCheck">
                      Vegetarian
                    </label>
                  </div>
                  
            </td>
            <td>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="ketoCheck" disabled [checked]="recipe.ketogenic?'checked':null">
                    <label class="form-check-label" for="ketoCheck">
                      Keto diet
                    </label>
                  </div>
                  
            </td>
        </tr>
    </table>

    <br/>
    <p>{{recipe.summary}}</p>
    <br/>

    <h4>Ingredients</h4>
    <ul class="list-group list-group-numbered">
        <ng-container *ngIf="recipe.extendedIngredients">
        <li class="list-group-item" *ngFor="let ingredient of recipe.extendedIngredients">
            <img [src]="getIngredientImageUrl(ingredient.image)"/> {{ingredient.amount}}  {{ingredient.unit}} {{ingredient.name}}</li>
        </ng-container>
    </ul> 
<br/>
<h4>Instructions:</h4>
<p>See the detailed instructions on:<a [href]="recipe.sourceUrl" target="_blank">{{recipe.sourceName}}</a> </p>
</div>
